body, html {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
  
  .search-wrapper {
    background: linear-gradient(rgba(0, 25, 38, 0.7), rgba(0, 25, 38, 0.7)), 
                url('https://cdn.pixabay.com/photo/2025/03/09/08/26/bridge-9456745_1280.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  /* Center everything vertically and horizontally */
  .search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 40px 20px;
  }
  

  /* Logo container spacing */
  .logo-container {
    margin-bottom: 10px; /* space between logo and search bar */
    text-align: center;
  }

  /* Logo styling */
  .logo-img {
    max-width: 200px;
    transition: opacity 0.3s ease;
    opacity: 0.7; /* default */
  }

  
  .search-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px 24px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    width: 90%;
    max-width: 1000px;
  }

  .search-box logo {
    max-width: 20px;
  }
  
  .search-box form {
    width: 100%;
  }
  
  .search-icon {
    color: white;
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  input.form-control {
    background: transparent;
    color: white;
    font-size: 1rem;
  }
  
  input.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .search-btn, .surprise-btn {
    white-space: nowrap;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #ffefd5;
    display: block;
  }
  
  .search-btn:hover {
    background-color: #ffefd5;
  }
  
  .surprise-btn:hover {
    background-color: #ffefd5;
  }

  .topic-title {
    font-size: 5rem;
    font-weight: 500;
  }

  .result-box {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    max-width: 700px;
    width: 90%;
    color: #fff;
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 100;
    overflow-wrap: break-word;
  }
  